.Toolbar {
  height: 78px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 1000;
  transition: opacity 800ms ease-in-out 200ms, background-color 600ms ease;
}

.Toolbar.Solid {
  background-color: #eff;
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
  transition: all 600ms ease;
}

.Toolbar nav {
  height: 100%;
  width: 100%;
}

@media (max-width: 500px) {
  .DesktopOnly {
    display: none;
  }
}
