.Projects {
  background-color: #f8f9fa;
}

.Container {
  max-width: 1170px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 120px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 50px;
}

.Grid {
  display: flex;
}

.GridColumn {
  flex: 1;
}

.GridItem {}

.Project {
  overflow: hidden;
}

.ProjectImage {
  width: 100%;
  transition: transform 1000ms ease;
}

.ProjectImage:hover {
  transform: scale(1.2);
}
