.NavigationItem {
  align-self: center;
  text-align: center;
}

.NavigationItem a {
  font-size: 15px;
  color: #eee;
  text-decoration: none;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  text-decoration: underline;
}
