.ContactInfos {
  flex: 0 0 41.666667%;
  padding: 0 15px;
  padding-left: 60px;
  box-sizing: border-box;
}

.Title {
  margin: 0;
  color: #eee;
  margin-bottom: 16px;
  font-size: 24px;
}

@media (max-width: 1024px) {
  .ContactInfos {
    padding-left: 25px;
  }
}

@media (max-width: 568px) {
  .ContactInfos {
    flex: 0 0 100%;
    padding-left: 15px;
    margin-bottom: 30px;
  }
}
