.NavigationItems {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: 650px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 500px) {
  .NavigationItems {
    padding-left: 0;
    flex-direction: column;
  }
}