.Footer {
  background: #403936;
}

.Container {
  max-width: 1170px;
  padding: 120px 15px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}

@media (max-width: 568px) {
  .Container {
    flex-direction: column;
  }
}